beautifulsoup4==4.3.2
defusedxml==0.4.1
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.7.3
django-braces==1.4.0
django-crispy-forms==1.4.0
django-webtest==1.7.7
factory-boy==2.4.1
gunicorn==19.1.1
oauthlib==0.7.2
Pillow==2.7.0
psycopg2==2.5.4
pystache==0.5.4
python-dateutil==2.4.0
python3-openid==3.0.5
pytz==2014.10
requests==2.5.1
requests-oauthlib==0.4.2
six==1.9.0
static==1.1.1
static3==0.5.1
Unidecode==0.4.17
waitress==0.8.9
WebOb==1.4
WebTest==2.0.17
