{% extends "maininclude/base.html" %}
{% load static %}

{% block main_no_container %}
  <img id="home-background" src="{% static 'img/dip.jpg' %}" />
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h1 class="text-center">Artisan Dips, Rubs, and Blends</h1>
      </div>
    </div>
    <div class="row">
      <h2 class="text-center">Our Newest Products</h2>
    </div>
    <div class="row product-row margin-top">
      {% for p in product_list %}
        <div class="col-sm-4">
          {% include "productinclude/panels/product.html" %}
        </div>
      {% endfor %}
    </div>
    <div class="row text-center">
      <a class="btn btn-brand btn-lg" href="{% url 'product_home' %}">Want to see more?</a>
    </div>
  </div>
{% endblock %}

