{% extends "maininclude/tables/default.html" %}
{% load carton_tags %}
{% load static %}

{% block thead %}
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Item Total</th>
    <th></th>
  </tr>
{% endblock %}

{% block tbody %}
  {% get_cart as cart %}
  {% for item in cart.items %}
    <tr id="product-row-{{ item.product.id }}" class="product-row" data-id="{{ item.product.id }}">
      <td>{{ item.product.title }}</td>
      <td class="quantity">{{ item.quantity }}</td>
      <td class="price">${{ item.price }}</td>
      <td class="subtotal">${{ item.subtotal }}</td>
      <td>
        <button class="cart-increment-item btn btn-success">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button class="cart-decrement-item btn btn-warning">
          <span class="glyphicon glyphicon-minus"></span>
        </button> 
        <button class="cart-remove-item btn btn-danger" data-toggle="tooltip" title="Remove this item">
          <span class="glyphicon glyphicon-trash"></span>
        </button> 
      </td>
    </tr>
  {% endfor %}
    <tr class="total-row">
      <td></td>
      <td></td>
      <td class="text-right">Total:</td>
      <td id="total-cell">${{ cart.total }}</td>
      <td>
        <form action="{% url 'shopping_charge' %}" method="POST" id="stripe-form">
          {% csrf_token %}
          <script src="https://checkout.stripe.com/checkout.js"></script>

          <button class="btn btn-green btn-lg" id="stripe-button">
            Checkout <span class="glyphicon glyphicon-shopping-cart"></span>
          </button>

          <script>
            $('#stripe-button').click(function(){
              // build a JSON object that gives us the product ids and quantity
              var objects = []; 
              $(".product-row").each( function(x){
                var productObject = new Object();
                productObject.id = this.id.replace('product-row-', '');
                productObject.quantity = $(this).find('td.quantity').text();
                objects.push(productObject)
              })

              var productString = JSON.stringify(objects);
              $("#products-input").val(productString);

              var token = function(res){
                var $id = $('<input type=hidden name=stripeToken />').val(res.id);
                var $email = $('<input type=hidden name=stripeEmail />').val(res.email);
                $('form').append($id).append($email).submit();
              };

              var amount = $("#stripeAmount").val();
              StripeCheckout.open({
                key:         '{{ STRIPE_PUBLIC_KEY }}',
                amount:      amount,
                name:        'Serendipity Artisan Blends',
                image:       '{% static "img/marketplace.png" %}',
                description: 'Purchase Products',
                panelLabel:  'Checkout',
                token:       token
              });

              return false;
            });
          </script>
          <input id="stripeAmount" name="stripeAmount" class="hidden" value="{{ cart_stripe_total }}"></input>
          <input id="products-input" name="products" class="hidden"></input>
        </form>
      </td>
    </tr>
{% endblock %}