body, html {
    font-family: "Open Sans", sans-serif;
    height: 100%;
}
body {
    background-color: #efefef;
    padding-top: 75px;
}
#wrap {
    min-height: 100%;
}
main {
    padding-bottom: 20px;
}
footer {
    background-color: #222;
    min-height:50px;
    padding: 20px 0;
    color: #efefef;
}
img {
    height: auoto;
    width: 100%;
}
h1, h2, h3, h4 {
    font-weight: 200;
}

/***** HELPER CLASSES *****/
.border-bottom {
    border-bottom: 5px solid #222;
}
.border-top {
    border-top: 1px solid #efefef;
}
.margin-top {
    margin-top: 15px;
}
.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

/***** MAIN *****/
#home-background {
    margin-top: -20px;
}
.admin-nav>li>a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 150%;
}


/***** PRODUCT *****/
.product-panel-footer {
    font-weight: 800;
}


/***** BOOTSTRAP MODS ******/
.navbar {
    border-radius:0;
}
.navbar li {
    font-size: 150%;
}
.panel-title {
    font-size: 150%;
}

/***** EVENTS *****/
.fc-border-separate {
    background-color: #fff;
}
.event-panel > .row {
    padding: 15px;
}

