body, html {
    font-family: "Open Sans", sans-serif;
    height: 100%;
}
body {
    background-color: #efefef;
    padding-top: 75px;
}
#wrap {
    min-height: 100%;
}
main {
    padding-bottom: 20px;
}
footer {
    background-color: #222;
    min-height:50px;
    padding: 20px 0;
}
img {
    height: auoto;
    width: 100%;
}
.border-bottom {
    border-bottom: 5px solid #000;
}

/***** MAIN *****/
#home-background {
    margin-top: -20px;
    filter: blur(5px);
}


/***** PRODUCT *****/
.dash-container h1 {
    text-align: center;
}


/***** BOOTSTRAP MODS ******/
.navbar {
    border-radius:0;
}
.navbar li {
    font-size: 150%;
}