{% extends "maininclude/panels/default.html" %}

{% block panel_title %}
  {{ p.title }}
{% endblock %}

{% block panel_body %}
  <div class="product-panel">
    <div class="row">
      <div class="col-xs-12">
        <img class="blur" src="{{ p.get_picture_location }}" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{ p.description }}
      </div>
    </div>
    <div class="row product-panel-footer">
      <div class="col-xs-6">
        {% if p.contains.all %}
          Contains 
          {% for c in p.contains.all %}
            {{ c }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="col-xs-6 text-right">
        {% if p.perks.all %}
          {% for p in p.perks.all %}
            {{ p }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      {% include "shoppinginclude/cart_manager.html" %}
    </div>
  </div>
{% endblock %}