{% extends "maininclude/tables/default.html" %}

{% block tbody %}
  {% for p in product_list %}
    <tr>
      <td>
        {{ p }}
      </td>
      <td>
        <a class="btn btn-default" href="{{ p.get_absolute_url }}">View
          <span class="glyphicon glyphicon-eye-open"></span>
        </a>
      </td>
      <td>
        <a class="btn btn-success" href="{{ p.get_update_url }}">Edit 
          <span class="glyphicon glyphicon-edit"></span></a>
      </td>
    </tr>
  {% endfor %}
{% endblock %}