{% load static %}

<nav class="navbar navbar-default navbar-fixed-top border-bottom" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'main_home' %}">
        Serendipity
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#">Link</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="image-container">{% include "maininclude/social_links.html" %}</li>
        <li><a href="{% url 'events_calendar' %}">Events <span class="glyphicon glyphicon-calendar"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Information <span class="glyphicon glyphicon glyphicon-info-sign"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'main_recipe_ideas' %}">Recipe Ideas</a></li>
            <li><a href="{% url 'main_about' %}">About Us</a></li>
            <li><a href="{% url 'main_contact' %}">Contact Us</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <span class="glyphicon glyphicon-cutlery"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% for t in product_type_list %}
              <li><a href="{{ t.get_absolute_url }}">{{ t.plural }}</a></li>
            {% endfor %}
            <li><a href="{% url 'product_home' %}">All Products</a></li>
            <li class="divider"></li>
            <li class="text-center" id="cart"><a href="{% url 'shopping_cart' %}">My Cart <span class="glyphicon glyphicon-shopping-cart"></span></a></li>
          </ul>
        </li>
        {% if user.is_staff %}
          <li><a href="{% url 'product_admin_home' %}">Admin <span class="glyphicon glyphicon-cog"></span></a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>