@import 'variables';

.btn-brand {
  transition: 0.5s;
  background-color: $brand;
  border-color: $brand-light;
  color: white;

  &:hover {
    background-color: $brand-light;
    color: white;
  }
}

.panel-brand {
  border-color: darken($gray, 10%);

  .panel-heading {
    background-color: $brand;
    color: white;
  }
}