@media (max-width:768px) {
  .navbar-nav>li>.social-link-container>img {
    border-radius: 50%;
    width: 10%;
  }   

  #admin-nav-accordion {
    font-size: 125%;
  }
  
  #admin-nav-accordion a {
    font-size: 125%;
  }
} 